[submodule "vim-pathogen"]
	path = base/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "colorscheme-zenburn"]
	path = base/colorscheme-zenburn
	url = git://github.com/jnurmine/Zenburn.git
[submodule "vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
