[submodule "vim-pathogen"]
	path = base/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "colorscheme-zenburn"]
	path = base/colorscheme-zenburn
	url = git://github.com/jnurmine/Zenburn.git
